@import url('https://fonts.googleapis.com/css?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css?family=Dosis&display=swap');

:root {
    --gradient1: #CB218E;
    --gradient2: #6617CB;
    --purple: rgb(123, 31, 162);
    --violet: rgb(103, 58, 183);
    --pink: rgb(244, 143, 177);
}

@keyframes background-pan {
    from {
        background-position: 0% center;
    }

    to {
        background-position: -200% center;
    }
}


body {
    margin: 0px;
    padding: 0px;
    background-color: black;
    text-decoration: none;
    margin-bottom: 20px;
}

a {
    text-decoration: none;
    color: white;
}  

nav {
    display: flex;
    background-color: black;
    border-bottom: 1px solid white;
}

.navbar {
    display: flex;
    align-items: center;
    gap: 20px;
    font-size: 20px;
}

ul {
    animation: background-pan 2s linear infinite;
    background: linear-gradient(
        to right,
        var(--purple),
        var(--violet),
        var(--pink),
        var(--purple)
    );
    background-size: 200%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    white-space: nowrap;
    position: relative;
}


.nav-button {
    background-color: none;
    border: none;
    padding: 5px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
}

.element-header {
    display: flex;
    flex: 1;
    align-items: center;
    font-family: 'Pacifico', specimen;
    font-size: 25px;
    color: var(--gradient1);
    height: 60px;
    position: relative;
    padding: 15px;
    margin: 0;
}

.element-header:after {
    content: attr(data-hover);
    font-family: 'Dosis';
    font-size: 25px;
    line-height: 30px;
    opacity: 0%;
    position: absolute;
}

.element-header:hover {
    color: white;
    font-size: 0;
}

.element-header:hover:after {
    transition: opacity 1000ms ease;
    opacity: 100%;
}

.element {
    color: white;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    padding: 1vw 4vw;
    display: block;
    position: relative;
}

.element:hover:before {
    transition: width 600ms ease;
    width: 100%;
}

.element:before {
    background: linear-gradient(to right,
            transparent,
            var(--gradient1),
            var(--gradient2));
    content: "";
    left: 0px;
    top: 0px;
    height: 100%;
    width: 0%;
    position: absolute;
}

.element:nth-child(5) {
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}